.row-div-h-1 {
    min-height: 1px;
}


.row-div-h-2 {
    min-height: 2px;
}


.row-div-h-5 {
    min-height: 5px;
}


.row-div-h-10 {
    min-height: 10px;
}

.row-div-h-20 {
    min-height: 20px;
}

.row-div-h-25 {
    min-height: 25px;
}

.row-div-h-30 {
    min-height: 30px;
}

.row-div-h-40 {
    min-height: 40px;
}


.row-div-h-50 {
    min-height: 50px;
}

.row-div-h-60 {
    min-height: 60px;
}

.row-div-h-70 {
    min-height: 80px;
}

.row-div-h-80 {
    min-height: 80px;
}

.row-div-h-90 {
    min-height: 80px;
}

.row-div-h-100 {
    min-height: 100px;
}

.row-div-h-120 {
    min-height: 120px;
}

.row-div-h-150 {
    min-height: 150px;
}

.row-div-h-180 {
    min-height: 180px;
}

.row-div-h-200 {
    min-height: 200px;
}

.row-div-h-250 {
    min-height: 250px;
}


.row-div-h-300 {
    min-height: 300px;
}

.row-div-h-400 {
    min-height: 400px;
}

.row-div-h-500 {
    min-height: 500px;
}

.row-div-h-600 {
    min-height: 600px;
}

.row-div-h-800 {
    min-height: 800px;
}

.row-div-h-1000 {
    min-height: 1000px;
}



.row-div-w-min100 {
    min-width: 100%;
}


.row-div-w-min96 {
    min-width: 96%;
}

.row-div-w-min90 {
    min-width: 90%;
}


.row-div-w-min80 {
    min-width: 80%;
}


.row-div-w-max80 {
    max-width: 80%;
}


.row-div-bg-white {
    background-color: #FFF;
}

.row-div-bg-blue {
    background-color: #09F;
}


.row-margin-bottom2 {
    margin-bottom: 2%;
}

.row-margin-bottom5 {
    margin-bottom: 5%;
}

.row-margin-bottom-10px {
    margin-top: 10px;
}


.row-margin-top-5px {
    margin-top: 5px;
}

.row-margin-top-10px {
    margin-top: 10px;
}


.ui-margin-top-5 {
    margin-top: 5px;
}

.ui-margin-top-10 {
    margin-top: 10px;
}

.ui-margin-top-20 {
    margin-top: 20px;
}

.ui-margin-top-30 {
    margin-top: 30px;
}


.ui-margin-bot-5 {
    margin-bottom: 5px;
}

.ui-margin-bot-10 {
    margin-bottom: 10px;
}

.ui-margin-bot-20 {
    margin-bottom: 20px;
}

.row-div-h-1 {
    min-height: 1px;
}


.row-div-h-2 {
    min-height: 2px;
}


.row-div-h-5 {
    min-height: 5px;
}


.row-div-h-10 {
    min-height: 10px;
}

.row-div-h-20 {
    min-height: 20px;
}

.row-div-h-25 {
    min-height: 25px;
}

.row-div-h-30 {
    min-height: 30px;
}

.row-div-h-40 {
    min-height: 40px;
}


.row-div-h-50 {
    min-height: 50px;
}

.row-div-h-60 {
    min-height: 60px;
}

.row-div-h-70 {
    min-height: 80px;
}

.row-div-h-80 {
    min-height: 80px;
}

.row-div-h-90 {
    min-height: 80px;
}

.row-div-h-100 {
    min-height: 100px;
}

.row-div-h-120 {
    min-height: 120px;
}

.row-div-h-150 {
    min-height: 150px;
}

.row-div-h-180 {
    min-height: 180px;
}

.row-div-h-200 {
    min-height: 200px;
}

.row-div-h-250 {
    min-height: 250px;
}


.row-div-h-300 {
    min-height: 300px;
}

.row-div-h-400 {
    min-height: 400px;
}

.row-div-h-500 {
    min-height: 500px;
}

.row-div-h-600 {
    min-height: 600px;
}

.row-div-h-800 {
    min-height: 800px;
}

.row-div-h-1000 {
    min-height: 1000px;
}



.row-div-w-min100 {
    min-width: 100%;
}


.row-div-w-min96 {
    min-width: 96%;
}

.row-div-w-min90 {
    min-width: 90%;
}


.row-div-w-min80 {
    min-width: 80%;
}


.row-div-w-max80 {
    max-width: 80%;
}


.row-div-bg-white {
    background-color: #FFF;
}

.row-div-bg-blue {
    background-color: #09F;
}


.row-margin-bottom2 {
    margin-bottom: 2%;
}

.row-margin-bottom5 {
    margin-bottom: 5%;
}

.row-margin-bottom-10px {
    margin-top: 10px;
}


.row-margin-top-5px {
    margin-top: 5px;
}

.row-margin-top-10px {
    margin-top: 10px;
}



.ui-margin-top-10 {
    margin-top: 10px;
}

.ui-margin-top-20 {
    margin-top: 20px;
}

.ui-margin-top-30 {
    margin-top: 30px;
}


.ui-margin-bot-5 {
    margin-bottom: 5px;
}

.ui-margin-bot-10 {
    margin-bottom: 10px;
}

.ui-margin-bot-20 {
    margin-bottom: 20px;
}



/*一般元素圓角 (預設會帶邊緣)(go347div框架圓角)(原生(獨立CSS))*/
.cs981radius { /*radius 弧度大小*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*邊緣*/
    border: 1px solid #DDD;
}

/*一般元素圓角2(原生(獨立CSS))*/
.cs981radius2 { /*radius 弧度大小*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*一般元素圓角3(原生(獨立CSS))*/
.cs981radius3 { /*radius 弧度大小*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*陰影效果1(原生(獨立CSS))*/
.cs981shadow {
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.2);
}
/*陰影效果2(head)(原生(獨立CSS))*/
.cs981shadow2 {
    box-shadow: 0px 1px 5px 0px rgba(56,56,56,0.7);
}
