

    #table-adjust {
        height: 610px;
        overflow: auto;
    }


    /* 純CSS實現表格首行和首列固定(B) */
    #table-adjust > table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse; /* 添加這行來確保表格邊框合併 */
    }

    #table-adjust thead {
        background-color: rgb(233, 161, 223);
        position: sticky;
        top: 0;
    }

    #table-adjust th, #table-adjust td {
        border: 1px solid #c1c5bd; /* 添加這行來顯示邊框 */
        padding: 8px;
        word-break: break-all;
    }

    #table-adjust th {
        position: relative;
        padding-right: 20px; /* 為了給resize handle留出空間 */
        background-color: rgb(245, 228, 75); /* 添加背景色以區分表頭 */
    }

    #table-adjust th .resize-handle {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        cursor: col-resize;
        user-select: none;
    }
    /* 純CSS實現表格首行和首列固定(E) */



    /* mailbox-sidebar 在頁面滾動時保持固定位置 */
    .mailbox-sidebar {
        position: fixed; /* 固定定位 */
        top: 100; /* 距離視窗頂部的距離 */
        left: 150; /* 距離視窗左側的距離 */
        width: 250px; /* 設定 sidebar 的寬度 */
        height: 100vh; /* 滿高，確保 sidebar 覆蓋整個視窗高度 */
        z-index: 9999; /* 確保層級高於其他內容 */
        background-color: #fff; /* 背景色，避免內容重疊 */
        overflow-y: auto; /* 如果內容超出，允許滾動 */
        border-right: 1px solid #ddd; /* 添加右側邊框以區分內容 */
    }

    .ns-checkbox-all{
        margin-left: 10px;
    }


    .form-check .col {
        text-align: right; /* 確保文字靠右對齊 */
        display: flex; /* 使用 flexbox 讓「己讀」和「未讀」水平排列 */
        justify-content: flex-end; /* 將內容推到右側 */
        gap: 10px; /* 添加間距 */
    }


    .ns_unisread {
    background-color: #e8f8d2;
    }

    .ns_isread {
    background-color: #ffffff;
    }



        