<link rel="stylesheet" href="./www/views/car_chicken/gmap/list.css">

<!-- BEGIN pos-content -->
<!-- <div class="pos-content"> -->
<div class="pos-content">
    <div class="pos-content-container" data-scrollbar="true" data-height="100%" data-skip-mobile="true">
        <div class="product-row">
            <!-- <h3>跟車雞</h3>   -->
            <div id="map" style="height: 800px; width: 100%;"></div> <!-- 添加地圖容器 -->
        </div>
    </div>
    <div class="pos-content-resizer"></div>
<!-- </div> -->
<!-- END pos-content -->
</div>
<!-- 分頁list -->
<rightTpl  />
     
        

